  <header>
    <h1><%= title %></h1>
    <menu>
      <ul>
        <div>
          <a href="/calc">
            <i class="fas fa-calculator"></i>
          </a>
        </div>
        <div>
          <a href="/scents">
            <i class="fas fa-fill-drip"></i>
          </a>
        </div>
        <div>
          <a href="/">
            <i class="fas fa-home"></i>
          </a>
        </div>
        <div>
          <a href="/alert">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
        </div>
      </ul>
    </menu>
  </header>