<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <%- include('../layouts/head') %> -->
    <script
    src="https://kit.fontawesome.com/fc85feb03c.js"
    crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/final.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="/calc"> <%= final %> </a>
  </body>
  <%- include('../layouts/footer') %>
</html>
