<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
  </head>
  <header>
      <title>Pouring Calculator</title>
  </header>
  <body>
      <label for="www">Weight with Wax</label>
      <input type="number" id="www" name="www" value=16>
      <button class="wwwButton">Enter</button>
      <label for="answer">Final Weight</label>
      <div class="answer" name="answer"></div>
  </body>
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</html>
