/* html {
  background-image: linear-gradient(
    45deg,
    rgba(168, 216, 69, 1),
    rgba(5, 79, 91, 1)
  );
  height: 100%;
}

header {
  font-family: 'Mukta', sans-serif;
  height: 20vh;
  color: #fff;
  font-size: 5vw;
  margin-left: 5vw;
  margin-top: 2vh;
}

form {
  width: 25vw;
  height: 25vh;
  margin: auto;
  margin-top: 8vh;
  font-size: 2vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

div {
  width: fit-content;
  margin: auto;
  margin-top: 3vh;
}

select {
  margin-bottom: 5vh;
}

button {
  margin-top: 5vh;
  background-color: rgba(78, 70, 70, 0.2);
  width: fit-content;
  height: 4vh;
  border: none;
  color: #fff;
  font-size: 1.25vw;
  /* margin-top: 1vh; */
}

.input {
  margin-top: 3vh;
} */
