html {
  background-image: linear-gradient(
    45deg,
    rgba(168, 216, 69, 1),
    rgba(5, 79, 91, 1)
  );
  height: 100%;
}

header {
  color: #fff;
  font-family: 'Mukta', sans-serif;
  font-size: 5vw;
  height: 20vh;
  margin-left: 5vw;
  margin-top: 2vh;
}

ul {
  margin: auto;
  margin-top: 10vh;
  width: 44vw;
}

div {
  box-shadow: 5px 6px 10px 2px rgba(41, 41, 44, 0.2);
  display: inline-block;
  height: 10vw;
  line-height: 17vw;
  position: relative;
  text-align: center;
  width: 10vw;
}

div:hover {
  box-shadow: 5px 6px 10px 2px rgba(0, 0, 0, 0);
}

i {
  left: 0;
  margin-left: 17%;
  position: absolute;
  top: 0;
  transform: translate(34%, 70%);
}

.fas {
  color: #fff;
  font-size: 4vw;
}

a {
  height: 100px;
  width: 100px;
}

footer {
  color: #fff;
  margin-top: 70vh;
  text-align: center;
}
