html {
  background-image: linear-gradient(
    45deg,
    rgba(168, 216, 69, 1),
    rgba(5, 79, 91, 1)
  );
  height: 100%;
}

header {
  font-family: 'Mukta', sans-serif;
  height: 20vh;
  color: #fff;
  font-size: 5vw;
  margin-left: 5vw;
  margin-top: 2vh;
}

ul {
  margin: auto;
  width: 41vw;
}

div {
  width: 10vw;
  /* background-image: linear-gradient(90deg, #2c3531, white); */
  height: 10vw;
  /* border-radius: 50%; */
  text-align: center;
  line-height: 17vw;
  display: inline-block;
  position: relative;
  box-shadow: 5px 6px 10px 2px rgba(41, 41, 44, 0.2);
  /* margin-right: 7%; */
}

i {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 17%;
  transform: translate(34%, 70%);
}

div:hover {
  box-shadow: 5px 6px 10px 2px rgba(0, 0, 0, 0);
}
/* i:hover {
  color: #2c3531;
} */

.fas {
  font-size: 4vw;
  color: #fff;
}

a {
  width: 100px;
  height: 100px;
}
