html {
  background-image: linear-gradient(
    45deg,
    rgba(168, 216, 69, 1),
    rgba(5, 79, 91, 1)
  );
  height: 100%;
  font-family: 'Mukta', sans-serif;
}

header {
  height: 20vh;
  color: #fff;
  font-size: 5vw;
  margin-left: 5vw;
  margin-top: 2vh;
}

table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  width: 80%;
  margin-left: 10%;
  margin-top: 5vh;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 3vh;
}

th {
  text-align: left;
  font-size: 2.5vw;
}

th {
  background-color: rgba(5, 79, 91, 0.5);
}
tr:hover,
td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tr {
  font-size: 1.5vw;
}

/* Add Form */

.addForm {
  width: 25vw;
  height: 25vh;
  margin-right: 15vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /* align-items: start; */
  font-size: 2vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  float: right;
  overflow: scroll;
}

.addF {
  width: max-content;
  margin: auto;
  padding: 2.5vh;
}

.addF > input {
  margin-bottom: 1.15vh;
  width: 8vw;
}

.addF > button {
  background-color: rgba(78, 70, 70, 0.2);
  width: 5vw;
  height: 4vh;
  border: none;
  color: #fff;
  font-size: 1.25vw;
  margin-top: 2vh;
}

.addF > button:hover {
  background-color: rgba(168, 216, 69, 1);
}

/* Update Form */

.updateForm {
  width: 25vw;
  height: 25vh;
  margin-left: 15vw;
  margin-bottom: 5vh;
  margin-top: 10vh;
  font-size: 2vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  float: left;
  overflow: scroll;
}

.updateF {
  width: max-content;
  margin: auto;
  padding: 2.5vh;
}

select {
  /* display: none; */
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: 4vh;
  width: 105%;
  text-align: center;
  margin: auto;
  font-size: 1.5vw;
}

.updateF > input[type='radio'] {
  size: 30px;
  width: 1.25em;
  height: 1.25em;
}

.updateF > button {
  background-color: rgba(78, 70, 70, 0.2);
  width: 5vw;
  height: 4vh;
  border: none;
  color: #fff;
  font-size: 1.25vw;
  margin-top: 1vh;
}

.updateF > button:hover {
  background-color: rgba(168, 216, 69, 1);
}

.updateF > input {
  margin-bottom: 1.15vh;
  width: 5vw;
}

input[type='text'],
input[type='number'] {
  font-size: 1.5vw;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

menu {
  height: 20vh;
  /* background-color: grey; */
}

ul > div {
  width: 5vw;
  /* background-image: linear-gradient(90deg, #2c3531, white); */
  height: 5vw;
  /* border-radius: 50%; */
  text-align: center;
  line-height: 17vw;
  display: inline-block;
  position: relative;
  box-shadow: 5px 6px 10px 2px rgba(41, 41, 44, 0.2);
  /* margin-right: 7%; */
  margin-bottom: 10vh;
}

a > i {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 17%;
  transform: translate(34%, 70%);
}

.fas {
  font-size: 2vw;
  color: #fff;
}

div:hover {
  box-shadow: 5px 6px 10px 2px rgba(0, 0, 0, 0);
}